@import "variables";
@import "mixins";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  font-family: @main-font;
	color: @text-color
}

img {
	width: 100%;
}

h2 {
	font-size: @headings;
	font-weight: @bold-font;
}

p {
	font-size: @text;
	font-weight: @normal-font;
}

header {
  background-color: @yellow;
  color: @text-color;
	font-size: @links;
  font-weight: @bold-font;
  nav {
    width: 80%;
    margin: auto;
    padding: 50px 0;
  }
  li {
    display: inline;
    padding-right: 55px;
  }
}

span {
	.span();
}

.hero {
	.hero();
	display: flex;
	flex-direction: column;
	align-items: center;
	figure {
		width: 30%;
		margin-top: 55px;
	}
	button {
		margin-bottom: 115px
	}
}

button {
  .button();
}

.best-burgers {
	background-color: @white;
	padding: 50px 0;
	div {
		width: 80%;
		margin: auto;
		display: flex;
		align-items: center;
	}
	article {
		margin-right: 100px;
	}
	figure {
		width: 60%;
	}
	h2 {
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 5px;
	}
}

.dine-in {
	background-color: @gray;
	padding: 50px 0;
	display: flex;
	justify-content: flex-end;
	div {
		width: 80%;
		display: flex;
		align-items: center;
	}
	article {
		margin-left: 100px;
	}
	.dine-black {
		color: @text-color;
	}
	figure {
		width: 50%;
	}
	h2 {
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 5px;
	}
}

.divider {
	background-color: @yellow;
	height: 8px;
}

footer {
	background-color: @black;
	display: flex;
	justify-content: center;
	padding: 20px 0;
	figure {
		width: 20%;
	}
}
