@import "variables";

.span {
  text-transform: uppercase;
  color: @red;
}

.button {
  font-family: @font;
  font-size: 18px;
  color: @text-color;
  font-weight: @bold-font;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: @yellow;
  padding: 15px 25px;
}
