@import "variables";

.button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: @yellow;
  padding: 15px 25px;
}
